<!-- Favicon -->
<link rel="icon" href="{{ .Site.Params.icons.favicon | absURL }}">

<!-- HTML Meta Tags -->
<meta name="description" content="{{ .Site.Params.metatags.description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://shozotakaya.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Site.Params.metatags.title }}">
<meta property="og:description" content="{{ .Site.Params.metatags.description }}">
<meta property="og:image" content="{{ .Site.Params.metatags.image | absURL }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<!-- <meta property="twitter:domain" content="{{ .Site.Data.homepage.contact.socialmedia.twitter | absURL }}"> -->
<meta property="twitter:url" content="https://shozotakaya.com/">
<meta name="twitter:title" content="{{ .Site.Params.metatags.title }}">
<meta name="twitter:description" content="{{ .Site.Params.metatags.description }}">
<meta name="twitter:image" content="{{ .Site.Params.metatags.image | absURL }}">

<!-- Robots -->
<meta name="robots" content="index, follow">

<!-- Font Awesome Icons -->
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
